body {
background-color: mistyrose;
}
h1 {
background-color: white;
color: palevioletred;
border-style: dotted;
border-color: palevioletred;
border-width: thick;
}
h2 {background-color: white;
color: palevioletred;
border-style: dotted;
border-color: palevioletred;
border-width: medium;
}
h3 {
color: black;
}
ol {background-color: white;
border-style: dotted;
border-color: salmon;
border-width: medium;
}